# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Vim swp-files
**/*.swp

# npm-debug
npm-debug.log*

# notes
**/*.help
**/log/
doc/
expt/

# dependencies
node_modules/
env/
**/.pycache
**/.mypy_cache

# production
src/pre-process/
dist/

# soundfiles 
soundfiles

# archives
**/@archive

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
